/******************************************************
HEADER

******************************************************/
body {
  width: 100%;
}

.header-lg {
  background: rgb(0, 51, 0);
  color: #fff;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
}

.header {
  padding: 50px;
}

h1 {
  text-align: center;
  margin: 5px;
  padding: 5px;
  font-family: 'Josefin Sans', sans-serif;
}

.fa-shopping-bag {
  margin: 5px;
  padding: 5px;
}

h2 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

/******************************************************

BODY
******************************************************/
#thankyou {
       display: none;
     }

.receipt {
  display: none;
}

h4 {
  font-size: 1.3em;
  color: rgb(0, 51, 0);
}

h3 {
  font-size: 1.1em;
  color: rgb(0, 51, 0);
}

.h2-deliver {
  color: rgb(0, 51, 0);
}

.list1 {
  color: rgb(153, 255, 51);
}

.radio:hover {
  color: orange;
}

.thanks {
  color: orange;
  font-size: 0.8em;
}

.header-sm {
  background: rgb(0, 128, 0);
  color: #fff;
  width: 100%;
}

.large {
  background: rgb(138, 138, 92);
  color: #fff;
  font-family: 'Capriola', sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
  padding: 30px;
}

.header-sm1 {
  margin: 20px;
}

.form-control {
  font-size: 1.2em;
  color: rgb(0, 51, 0);
  font-family: 'Handlee', cursive;
  font-weight: lighter;
  background: rgb(224, 224, 209);
}

.form-control:hover {
  cursor: pointer;
}

button {
  background: rgb(0, 128, 0);
  font-family: 'Handlee', cursive;
}

.btn {
  color: #fff;
  font-size: 1.2em;
}

.btn:hover {
  background: rgb(0, 51, 0);
  color: #fff;
}

/******************************************************

FOOTER
******************************************************/
.footer {
  background: rgb(0, 51, 0);
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  padding: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
}
