/******************************************************
HEADER

******************************************************/
.header-lg {
  background: rgb(51, 0, 0);
  color: #fff;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
}

.header {
  padding: 50px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

/******************************************************

BODY
******************************************************/
#story {
       display: none;
     }

.receipt {
  display: none;
}

.header-sm {
  background: rgb(128, 0, 0);
  color: #fff;
  width: 100%;
}

/******************************************************

FOOTER
******************************************************/

/******************************************************


******************************************************/

/******************************************************


******************************************************/
